In [ ]:
# Recommend the movie to a random user by using item based collaborate filtering algorithm

In [46]:
import pandas as pd
#movies file
movies = pd.read_csv('ml-latest-small/movies.csv', usecols=range(2))
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [47]:
# Ratings file
ratings = pd.read_csv('ml-latest-small/ratings.csv',usecols=range(3))
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [48]:
ratings = pd.merge(movies,ratings)
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       7     3.0
1        1  Toy Story (1995)       9     4.0
2        1  Toy Story (1995)      13     5.0
3        1  Toy Story (1995)      15     2.0
4        1  Toy Story (1995)      19     3.0

In [49]:
movie_ratings = ratings.pivot_table(index=['userId'],columns=['title'], values='rating')
movie_ratings.head()
# A table containg user rating corresponding to every movies

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# find out similar movie corresponding to Assassins movie
rating = movie_ratings['Assassins (1995)']
similar_movies = movie_ratings.corrwith(rating)
similar_movies = similar_movies.dropna()
df  = pd.DataFrame(similar_movies)
df.head()

                                                           0
title
10 Things I Hate About You (1999)                   1.000000
101 Dalmatians (One Hundred and One Dalmatians)... -1.000000
12 Angry Men (1957)                                 0.000000
13th Warrior, The (1999)                            0.866025
20,000 Leagues Under the Sea (1954)                -0.755929

In [51]:
similar_movies.order(ascending=False)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: order is deprecated, use sort_values(...)
  """Entry point for launching an IPython kernel.

title
10 Things I Hate About You (1999)                      1.0
American Werewolf in London, An (1981)                 1.0
Long, Hot Summer, The (1958)                           1.0
Papillon (1973)                                        1.0
Lives of Others, The (Das leben der Anderen) (2006)    1.0
Speed 2: Cruise Control (1997)                         1.0
Little Man Tate (1991)                                 1.0
Legal Eagles (1986)                                    1.0
Duplex (2003)                                          1.0
Kiss of Death (1995)                                   1.0
Kiss Kiss Bang Bang (2005)                             1.0
Amityville Horror, The (1979)                          1.0
Species II (1998)                                      1.0
Toys (1992)                                            1.0
Believers, The (1987)                                  1.0
Father of the Bride (1950)                             1.0
Escape from L.A. (1996)                                1.0
Space Jam (1996)                                       1.0
Sommersby (1993)                                       1.0
Some Like It Hot (1959)                                1.0
Soldier's Story, A (1984)                              1.0
Exorcist, The (1973)                                   1.0
Eye for an Eye (1996)                                  1.0
Police Academy 2: Their First Assignment (1985)        1.0
Police Academy 3: Back in Training (1986)              1.0
Police Academy 4: Citizens on Patrol (1987)            1.0
In the Name of the Father (1993)                       1.0
Identity (2003)                                        1.0
Tin Men (1987)                                         1.0
Double Indemnity (1944)                                1.0
                                                      ...
Kingdom of Heaven (2005)                              -1.0
Barbarella (1968)                                     -1.0
Punisher, The (2004)                                  -1.0
Cider House Rules, The (1999)                         -1.0
Evil Dead II (Dead by Dawn) (1987)                    -1.0
Step Brothers (2008)                                  -1.0
Babylon 5: In the Beginning (1998)                    -1.0
Munich (2005)                                         -1.0
Day After Tomorrow, The (2004)                        -1.0
Terminal, The (2004)                                  -1.0
Hero (Ying xiong) (2002)                              -1.0
Evita (1996)                                          -1.0
His Girl Friday (1940)                                -1.0
Spaceballs (1987)                                     -1.0
Three Colors: Blue (Trois couleurs: Bleu) (1993)      -1.0
Notorious (1946)                                      -1.0
Any Given Sunday (1999)                               -1.0
Evolution (2001)                                      -1.0
Million Dollar Hotel, The (2001)                      -1.0
James and the Giant Peach (1996)                      -1.0
Deep Blue Sea (1999)                                  -1.0
Blade: Trinity (2004)                                 -1.0
Mannequin (1987)                                      -1.0
Blood Diamond (2006)                                  -1.0
Pet Sematary (1989)                                   -1.0
Police Academy 5: Assignment: Miami Beach (1988)      -1.0
Fear and Loathing in Las Vegas (1998)                 -1.0
Die Another Day (2002)                                -1.0
Even Cowgirls Get the Blues (1993)                    -1.0
xXx (2002)                                            -1.0
dtype: float64

In [52]:
import numpy as np
moviestats = ratings.groupby('title').agg({'rating':[np.size,np.mean]})
moviestats.head()

                                        rating
                                          size      mean
title
"Great Performances" Cats (1998)           2.0  1.750000
$9.99 (2008)                               3.0  3.833333
'Hellboy': The Seeds of Creation (2004)    1.0  2.000000
'Neath the Arizona Skies (1934)            1.0  0.500000
'Round Midnight (1986)                     2.0  2.250000

In [53]:
# find out the popular_movies rated by more than 100 users
popular_movies = moviestats['rating']['size']>=100
moviestats[popular_movies].sort_values([('rating','mean')],ascending=False)[:10]

                                       rating
                                         size      mean
title
Godfather, The (1972)                   200.0  4.487500
Shawshank Redemption                    311.0  4.487138
Godfather: Part II, The (1974)          135.0  4.385185
Usual Suspects, The (1995)              201.0  4.370647
Schindler's List (1993)                 244.0  4.303279
One Flew Over the Cuckoo's Nest (1975)  144.0  4.256944
Fargo (1996)                            224.0  4.256696
Pulp Fiction (1994)                     324.0  4.256173
American Beauty (1999)                  220.0  4.236364
Dark Knight, The (2008)                 121.0  4.235537

In [54]:
df = moviestats[popular_movies].join(pd.DataFrame(similar_movies,columns=['similarity']))
df.sort_values(['similarity'],ascending=False)[:10]

,"(rating, size)","(rating, mean)",similarity
title,,,
Finding Nemo (2003),122.0,3.803279,1.000000
Eternal Sunshine of the Spotless Mind (2004),106.0,4.122642,0.981981
Toy Story 2 (1999),125.0,3.844000,0.970725
Pirates of the Caribbean: The Curse of the Black Pearl (2003),141.0,3.854610,0.968246
Who Framed Roger Rabbit? (1988),108.0,3.666667,0.919866
Casablanca (1942),117.0,4.235043,0.912871
Kill Bill: Vol. 2 (2004),103.0,3.665049,0.872872
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001),105.0,3.657143,0.802181
Shrek (2001),174.0,3.847701,0.792118
American Beauty (1999),220.0,4.236364,0.780720

In [55]:
# Recommend the movie to a random user by using item based collaborate filtering algorithm
movie_ratings.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
user = movie_ratings.iloc[50].dropna()
data = pd.Series()
for i in range(len(user)):
    rating = movie_ratings[user.index[i]]
    similar_movies = movie_ratings.corrwith(rating).dropna()
    #print similar_movies corresponding to each movie
    similar_movies = similar_movies.map(lambda x: x*user[i])
    # append the movies into data dataframe
    data = data.append(similar_movies)

data.sort_values(inplace=True,ascending=False)
#data.head(5)
#print len(data)

In [58]:
data = data.groupby(data.index).sum()
data.sort_values(inplace=True,ascending=False)
data.head(5)

Dolores Claiborne (1995)        68.769824
Skyfall (2012)                  68.426800
Entrapment (1999)               67.359715
Princess Diaries, The (2001)    66.985293
Shadow of the Vampire (2000)    66.861273
dtype: float64

In [59]:
recommend_movies = moviestats[popular_movies].join(pd.DataFrame(data,columns=['similarity']))
#recommend_movies.sort_values(['similarity'], ascending=False)
# here is the final recommended movies to a user
recommend_movies.sort_values(['similarity'],ascending=False)[:10]
#print len(recommend_movies)

,"(rating, size)","(rating, mean)",similarity
title,,,
Star Trek: Generations (1994),114.0,3.350877,60.615785
Aladdin (1992),215.0,3.674419,57.889139
Toy Story 2 (1999),125.0,3.844000,57.284341
Apollo 13 (1995),200.0,3.902500,51.383203
"Bug's Life, A (1998)",105.0,3.609524,51.114163
Star Wars: Episode I - The Phantom Menace (1999),138.0,3.199275,48.888555
Kill Bill: Vol. 2 (2004),103.0,3.665049,47.201078
Kill Bill: Vol. 1 (2003),111.0,3.819820,47.097892
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001),105.0,3.657143,47.033031
"Green Mile, The (1999)",103.0,3.922330,46.794135